# BigCommunity minimal live boot menu

function boot_bigcommunity_minimal {
    set gfxpayload=keep
    linux /boot/vmlinuz-x86_64 \
        misobasedir=${bigcommunity_iso_base} misolabel=${bigcommunity_iso_label} rw \
        driver=free apparmor=1 security=apparmor \
        intel_pstate=active amd_pstate=active cpuidle.governor=teo nvme_load=yes \
        $@ \
        quiet loglevel=3 systemd.show_status=auto rd.udev.log_level=3 splash \
        ${kopts}
    initrd /boot/amd_ucode.img /boot/intel_ucode.img /boot/initramfs-@ARCH@.img
}

if [ "${bigcommunity_menu}" != "root" ]; then
    set timeout=-1
    set default=0
fi
if [ "${bigcommunity_language_expanded}" = "true" ]; then
    set timeout=-1
    set default=1
fi

if [ "${bigcommunity_menu}" = "root" ]; then
    menuentry $"1 - Start BigCommunity Live Base" --class=bigcommunity {
        boot_bigcommunity_minimal
    }

    if [ -z "${language_name}" ]; then
        set language_name="English"
    fi
    menuentry $"2 - Language: ${language_name}  >>" --class=language-submenu {
        set bigcommunity_language_expanded="true"
        export bigcommunity_language_expanded
        menu_reload
    }
    if [ "${bigcommunity_language_expanded}" = "true" ]; then
        source /boot/grub/languages.cfg
    fi

    if [ "${grub_platform}" = "efi" ]; then
        menuentry $"3 - Detect EFI bootloaders  >>" --class=efi-submenu {
            set bigcommunity_menu="efi"
            menu_reload
        }
    fi

    if [ "${grub_platform}" = "efi" ]; then
        if [ -f /boot/memtest-efi ]; then
            menuentry $"4 - Run memory test" --class=memtest {
                insmod chain
                chainloader /boot/memtest-efi
            }
        fi
    else
        if [ -f /boot/memtest ]; then
            menuentry $"4 - Run memory test" --class=memtest {
                linux16 /boot/memtest
            }
        fi
    fi

    menuentry $"5 - Restart computer" --class=restart {
        reboot
    }

elif [ "${bigcommunity_menu}" = "efi" ]; then
    menuentry $"Back to main menu" --class=back {
        set bigcommunity_menu="root"
        menu_reload
    }

    set efi_found=false
    insmod chain
    for efi in \
        (*,gpt*)/efi/*/*.efi \
        (*,gpt*)/efi/*/*/*.efi \
        (*,gpt*)/*.efi \
        (*,gpt*)/*/*.efi \
        (*,msdos*)/efi/*/*.efi \
        (*,msdos*)/efi/*/*/*.efi \
        (*,msdos*)/*.efi \
        (*,msdos*)/*/*.efi; do
        if [ -e "${efi}" ]; then
            regexp --set=1:efi_device '^\((.*)\)/' "${efi}"
            set efi_found=true
            menuentry $"EFI: ${efi}" --class=efi "${efi}" "${efi_device}" {
                set root="${3}"
                chainloader "${2}"
            }
        fi
    done

    if [ "${efi_found}" != "true" ]; then
        menuentry $"No EFI files detected" --class=safe {
            set bigcommunity_menu="root"
            menu_reload
        }
    fi

else
    menuentry $"Back to main menu" --class=back {
        set bigcommunity_menu="root"
        menu_reload
    }
fi
