# BigCommunity live GRUB language selector

function select_language {
    set lang="$1"
    set def_bootlang="$2"
    set bootlang="lang=${def_bootlang}"
    set language_name="$3"
    unset bigcommunity_language_expanded
    set bigcommunity_menu="root"
    export lang
    export def_bootlang
    export bootlang
    export language_name
    export bigcommunity_menu
    menu_reload
}

menuentry $"Back to main menu" --class=back {
    unset bigcommunity_language_expanded
    set bigcommunity_menu="root"
    menu_reload
}

menuentry "Български" --class=language { select_language bg bg_BG "Български" }
menuentry "Čeština" --class=language { select_language cs cs_CZ "Čeština" }
menuentry "Dansk" --class=language { select_language da da_DK "Dansk" }
menuentry "Deutsch" --class=language { select_language de de_DE "Deutsch" }
menuentry "Ελληνικά" --class=language { select_language el el_GR "Ελληνικά" }
menuentry "English" --class=language { select_language en en_US "English" }
menuentry "Español" --class=language { select_language es es_ES "Español" }
menuentry "Eesti" --class=language { select_language et et_EE "Eesti" }
menuentry "Suomi" --class=language { select_language fi fi_FI "Suomi" }
menuentry "Français" --class=language { select_language fr fr_FR "Français" }
menuentry "עברית" --class=language { select_language he he_IL "עברית" }
menuentry "Hrvatski" --class=language { select_language hr hr_HR "Hrvatski" }
menuentry "Magyar" --class=language { select_language hu hu_HU "Magyar" }
menuentry "Íslenska" --class=language { select_language is is_IS "Íslenska" }
menuentry "Italiano" --class=language { select_language it it_IT "Italiano" }
menuentry "日本語" --class=language { select_language ja ja_JP "日本語" }
menuentry "한국어" --class=language { select_language ko ko_KR "한국어" }
menuentry "Nederlands" --class=language { select_language nl nl_NL "Nederlands" }
menuentry "Norsk bokmål" --class=language { select_language nb nb_NO "Norsk bokmål" }
menuentry "Polski" --class=language { select_language pl pl_PL "Polski" }
menuentry "Português" --class=language { select_language pt pt_PT "Português" }
menuentry "Português (Brasil)" --class=language { select_language pt_BR pt_BR "Português (Brasil)" }
menuentry "Română" --class=language { select_language ro ro_RO "Română" }
menuentry "Русский" --class=language { select_language ru ru_RU "Русский" }
menuentry "Slovenčina" --class=language { select_language sk sk_SK "Slovenčina" }
menuentry "Svenska" --class=language { select_language sv sv_SE "Svenska" }
menuentry "Türkçe" --class=language { select_language tr tr_TR "Türkçe" }
menuentry "Українська" --class=language { select_language uk uk_UA "Українська" }
menuentry "中文（简体）" --class=language { select_language zh_CN zh_CN "中文（简体）" }
